:root {
  --primary-bg-color: #0b132b;
  --text-primary: #ffffff;
  --text-secondary: #8da9c4;
  --button-blue: #1c4ed8;
  --font-family: "Inter", sans-serif;
  --footer-bg-color: #00195d;
  --footer-right-a: #28f6ce;
  --contact-form-p: #172554;
}

/* Basic CSS Reset for the team */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--text-primary);
  font-family: var(--font-family);
  min-height: 100vh;
}
